header h1{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 10px;
    text-align: center;
    border-top: 5px solid #650010;
    border-bottom: 5px solid #650010;
    font-size: 40px;
    letter-spacing: 4px;
    text-shadow: 2.5px 2.5px 2.5px  #db1919 ;
}#background{
    margin: 0px;
    background-image:url("college_image.jpeg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    height: 455px;
    opacity: 0.7;
}
.color{
    background-color: rgb(0, 0, 0);
}
#description{
    position: absolute;
    top: 150px;
    bottom: 0;
    margin: 0;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    font-size:19px;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

footer p{
    padding: 15px;
    font-weight: bold;
    color: white;
    margin:0px;
    height: 28px;
    background-color: #650010;
    text-align: right;
    font-size:x-large;
}
body{
    margin: 0px;
}

