@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* general */
body {
   font-family: 'Poppins', sans-serif;
   margin: 0 auto;
   overflow-x: hidden;
   padding-top: 5%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* carousel */
#carouselItem .carousel-inner .carousel-item img {
   width: 450px;
   height: 450px;
   object-fit: cover;
}

.carousel-inner {
   height: 500px;
   width: 500px;
   background-color: slateblue;
}

.carousel-control-next,
.carousel-control-prev {
   z-index: 10;
}

.carousel-caption {
   background-color: slateblue;
   opacity: 0.7;
}

.carousel-caption:hover {
   opacity: 1;
}
