@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* css variables */
:root {
   --clr-blue: #6a5acd;
   --clr-white: #f5f5f5;
}

/* general */
body {
   font-family: 'Poppins', sans-serif;
   margin: 0 auto;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-position: 0 0;
   background-size: 10px 10px;
   height: 200px;
   width: 100%;
   background-image: radial-gradient(#6a5acd 20%, #fffafa 20%);
   background-image: -moz-radial-gradient(#6a5acd 20%, #fffafa 20%);
   background-image: -webkit-radial-gradient(#6a5acd 20%, #fffafa 20%);
}

/* buttons */
.login {
   padding-top: 50%;
}

#login,
#btn {
   color: var(--clr-white);
   letter-spacing: 1px;
   padding: 15px 55px 15px;
   outline: none;
   border: 1px solid black;
   position: relative;
   background-color: rgba(0, 0, 0, 0);
   z-index: 100;
}

#login::after,
#btn::after {
   content: '';
   background-color: var(--clr-blue);
   width: 100%;
   z-index: -1;
   position: absolute;
   height: 100%;
   top: 7px;
   left: 7px;
}

#login:hover::after,
#btn:hover::after {
   top: 0;
   left: 0;
}

/* form */
form {
   z-index: -25;
   display: none;
   padding: 25px 5px;
   border: 0.2px solid #000;
   background-color: #fffafa;
   box-shadow: 2px 1px 0 0 var(--clr-blue);
   align-items: center;
   justify-content: center;
}

form:hover {
   box-shadow: 2px 1px 5px 0px var(--clr-blue);
}

form input:focus {
   border: 1px solid var(--clr-blue);
}

.form-title {
   text-decoration: underline transparent;
   text-decoration-color: transparent;
}

.form-title:hover {
   text-decoration: underline;
   text-decoration-color: var(--clr-blue);
   transition: text-decoration 0.2s ease-in;
}

#loginForm .container .form-check input[type='checkbox']:checked {
   background-color: var(--clr-blue);
}
