{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> VIT-AP Profile </title>

    <!-- Bootstrap - CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    <!-- Defined CSS styles -->
    <link rel="stylesheet" href="{% static 'homepage/styles/profilepage.css' %}">
    
    <!-- favicon -->
    <link rel="logo icon" type="favicon" href="{% static 'homepage/images/logo.ico' %}"/>
</head>
<body>

    <header>
        {% include 'homepage/navbar.html' %}
    </header>
    
    <main>
    <div class="container">
        <div class="content text-white">

            <div class="row row-content">
            <h1> VIT-AP </h1>

            <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores a velit distinctio consequatur dolore natus odit, 
            consequuntur alias dolores id quibusdam laudantium? Deleniti quae molestiae cum nisi temporibus maiores architecto
            aspernatur magni, odio quos dolor incidunt velit in aut, amet nobis quaerat exercitationem, ratione quas natus libero
            officia sequi voluptas! Labore pariatur sunt iusto minus natus dolores ducimus est repudiandae totam beatae, et vero
            quo molestias, consequatur recusandae voluptas quisquam omnis aut, nisi nesciunt optio qui eaque!
            </p>

            <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos voluptas aspernatur eveniet sed architecto nihil totam 
            voluptatibus expedita quam non, mollitia laudantium aperiam cupiditate impedit, nam ab vel itaque corporis magni cum 
            quis necessitatibus quo placeat harum! Sequi ipsam delectus commodi odio laboriosam ducimus eaque iste vitae dignissimos 
            repudiandae tempore eum quidem mollitia laborum suscipit non omnis cumque, libero maiores iure ad inventore aperiam? 
            Nostrum temporibus odit eveniet odio eum? Quam nam dolorem expedita impedit! 
            </p>

            <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit rerum, animi laboriosam consequatur placeat 
            dolorum similique odio quod obcaecati quas earum. Ducimus, aut sequi nemo expedita, similique dolores magnam 
            eaque soluta ex vero dolorem tenetur ullam vitae voluptas culpa at ratione odit beatae repudiandae est facilis 
            nihil iure fugit sapiente. Animi sint nisi amet labore beatae, nihil saepe placeat sapiente officia magni! Accusantium
            tempora autem enim quia iure sed dignissimos blanditiis, quaerat voluptatibus modi itaque laudantium voluptas nobis
            ad maxime. Voluptatibus dicta aliquam expedita provident ut iure animi numquam deleniti, voluptatum et quibusdam,
            laborum quos? Inventore, et optio. Temporibus, aut.
            </p>

            <p>
                With a history of 32 years of innovation in educational and research domain, VIT has been a forerunner
                in delivering quality education. Consistently ranked among the top educational institutes in the country, 
                the VIT group of institutions have had a proud tradition of pursuing knowledge and excellence. 
                In keeping with this tradition,  the leadership at VIT-AP resonates a dynamic blend of academic initiative
                 and industry partnership with a vision of creating one of the finest academic destinations in the world. 
                The VIT-AP campus, which is poised to become one of the country’s best campuses, offers several avenues to 
                explore your interests, identify core competencies, and engage in an evolving lifecycle of education and growth. 
            </p> 

            </div>

            <table class="table">

                <tr>
                    <td> students are offered immense opportunities to learn, practice, grow, and thrive </td>
                </tr>
                <tr>
                    <td> autonomous learning is encouraged in order to enable students to chart their own course </td>
                </tr>
                <tr>
                    <td> students carry out hands on experiments related to programme content in the form of Engineering Clinics </td>
                </tr>
                <tr>
                    <td> industrial and international exposure is provided </td>
                </tr>
                <tr>
                    <td> overall personality development is ensured through sports, clubs and chapters, and cultural activities. </td>
                  </tr>

            </table>
            </div>
    </div>
    </main>

    <footer>
        Made by shwetha_19bce7482
    </footer>

</body>
</html>