{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BackEnd Task</title>

    <link rel="stylesheet" href="{% static 'test_app/css/backend_style.css' %}">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<header>
    {% include 'test_app/nav.html' %}
</header>
<main>
    <div class="container">
        <article>
            <h1 class="display-5 text-center">WSoC2101: Backend</h1>
            <section class="content-description">
              Hey, Welcome to the Backend tasks.
              <br>
              Glad to see you getting a step ahead towards testing your technical skills here, definately you got something!
              <br><br>
              Here, you need to follow the tasks starting from easier to tougher at each level and marked accordingly as per their level.
              <br>
              Each task contains a heading of the task and a small description of the same. Here, you although won't be judged upon your creativity i.e. the look of the webpage, but the better it displays itself, the better you'll be marked.
              <br>
              Also, here the tasks contain a small description of what we are asking for, but you can get as deep as you want (Please don't get beyond human level :P), and the better you get, better the score you may expect.
              <br>
              Note: Please don't try to copy or plagiarize, if found so, you will straight away be out of our choices.
              <br>
              Thank you,
              <br>
              Happy Coding! and All the best.

            </section>
        </article>
        <article>
            <section class="task-group">
                <h2>Backend Tasks</h2>
                <ol class="list-group list-group-numbered ">
                    <li class="task-list list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Notes Adder</div>
                            Design an application that gives the user a choice to add a note. The note contains two parts, one is its heading, second a small description of the same.
                            <br>
                            Possiblities for improvements/additions are endless, so please don't move far ahead of the required things, but better applications are always appreciated.
                        </div>
                        <span class="badge bg-primary rounded-pill">10 Points</span>
                    </li>
                    <li class="task-list list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Login System</div>
                           Design a system that lets the user :
                           <br>
                           1.) Register by entering a username and password.
                           <br>
                           2.) Login using the username and password used while registration.
                           <br>
                           3.) Give an option for reset password.
                        </div>
                        <span class="badge bg-primary rounded-pill">20 Points</span>
                    </li>
                    <li class="task-list list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"> Login system using Google Id</div>
                            This is a continuation of the second task.
                            <br>
                            In this task, you are required to register/sign in the user using their gmail id's.
                            <br>
                            Remove the change password, and register options, and directly sign them in using their gmail id.
                        </div>
                        <span class="badge bg-primary rounded-pill">15 Points</span>
                    </li>
                </ol>
            </section>
        </article>
        <div class="text-center">
            <a href="{% url 'test_app:index' %}" class="btn btn-primary">Go Back to Home Page</a>
        </div>
    </div>
</main>

{% include 'test_app/footer.html' %}

</body>
</html>
