{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FrontEnd Task</title>

    <link rel="stylesheet" href="{% static 'test_app/css/frontend_style.css' %}">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<header>
    {% include 'test_app/nav.html' %}
</header>
<main>
    <div class="container">

        <h1 class="display-5 text-center">WSoC2101: Frontend</h1>
        <article>
            <section class="content-description">
                <h2 class="display-5" style="font-size: 32px;"></h2>
                <p style="margin-left: 20px;">
                    Hey folks,
                    Welcome to the frontend tasks. We look forward for your creativity and skills, and working together soon.
                    <br>
                    The evaluation criterion for the listed tasks is as:
                    <br>
                    - The tasks are listed in 3 levels, starting from the easiest to tougher, to check your skillset.
                    <br>
                    - Each task has maximum points listed along with it according to its level.
                    <br>
                    - You need to follow the task description given and design the given tasks with atmost creativity you can show.
                    <br>
                    - Tasks will solely be judged on the basis of your design, creativity and skills. Not upon any descriptive content displayed.
                    <br>
                    - Always expect more points, the better you go beyond the required things, the more perfect score you may expect.
                    <br>
                    - Last, but the most interesting part, if you are done with the required tasks individually, and have carved them to your best,
                    an extra 5 pointer is reserved, if you can make the individual tasks listed accesible with each other using a Navbar where the homepage is task-1.
                    <br>
                    Note: The extra 5 points are totally assigned for those who feel they have completed the tasks well in advance and can show a higher skill set. Please don't lose your best work on tasks for these points.
                    <br>
                    Thanks,
                    <br>
                    Happy Coding! and All the best.
                </p></section>
        </article>
        <article>
            <section class="task-group">
                <h2>Frontend Tasks</h2>
                <ol class="list-group list-group-numbered ">
                    <li class="task-list list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">VIT-AP Profile Page</div>
                            This task is to create a webpage with the following points to be considered:
                            <br>
                            1.) Set the title of the page as "VIT-AP Profile".
                            <br>
                            2.) Use a heading VIT-AP (center aligned).
                            <br>
                            3.) Set the background as University image. (Can be found in resources folder in the repo)
                            <br>
                            4.) A short description of the university. (If you don't find a description feel free to use Lorem ipsum para.
                             There are no points for the content)
                            <br>
                            5.) Also add a footer saying "Made by "yourname_reg.no." .
                        </div>
                        <span class="badge bg-primary rounded-pill">10 Points</span>
                    </li>
                    <li class="task-list list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Login/Signup form</div>
                            In this task we expect you to create a signin/signup form.
                            <br>
                            The necessary points are:
                            <br>
                            1.) The first diaplay page should not contain the form directly, there should be a click button for signup / register which takes the user to the form.
                            <br>
                            2.) The form should be able to take input from the user, although processing it for anything is not required.
                            <br>
                            3.) The input info required is Email, password, and a checkbox for keep me logged in or remember me.
                            <br>
                            4.) Add a heading WSoC model sigup / registration form.
                        </div>
                        <span class="badge bg-primary rounded-pill">20 Points</span>
                    </li>
                    <li class="task-list list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"> Carousel Animation  </div>
                            A carousel is a set of rotating banners, or a slideshow, that displays on the webpage.
                            <br>
                            The necessary points are:
                            <br>
                            1.) Add atleast 5 images to the carousel. ( Refer to the resources folder for the images )
                            <br>
                            2.) The user should be able to maually change the pictures in the carousel as well as it may change periodically itself.
                            <br>
                            3.) Provide a paragraph after the carousel. ( Feel free to use Loren ipsum para if you cannot think of adding any info)
                            <br>
                        </div>
                        <span class="badge bg-primary rounded-pill">30 Points</span>
                    </li>
                </ol>
            </section>
        </article>
        <div class="text-center">
            <a href="{% url 'test_app:index' %}" class="btn btn-primary">Go Back to Home Page</a>
        </div>
    </div>
</main>

{% include 'test_app/footer.html' %}

</body>
</html>
