{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Entry Test</title>

    <link rel="stylesheet" href="{% static 'test_app/css/index_style.css' %}">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<header>
    {% include 'test_app/nav.html' %}
</header>
<main>
    <div class="container">

        <h1 class="display-5 text-center">WSoC2101: A hub for Club Events</h1>
        <article>
            <section class="content-description">
                <h2 class="display-5" style="font-size: 32px;">Project Description</h2>
                <p style="margin-left: 20px;">
                  The project aims to develop a platform for all the students of VIT-AP to look for the recently upcoming and currently active events happening in the university.
                  The students will be able to find a short description of an active event, get the required links for event registration, manage the events they registered for and review about the event after it is completed.
                  <br> 
                  The admins, i.e. the club admin members and college admin ( if selected as a university project) will be able to track the expected audience set by the organising club,
                  success bar of the event ( as in how much of the expected population actually participated in the event), see the student reviews.
                  This will also help to track the most successful events organised in the university and best responded events by the students.
                </p></section>
        </article>
        <article>
            <h2 class="display-5 text-center" style="font-size: 32px;">Select a Path</h2>
            <p class="lead text-center">There is nothing wrong with choosing both the paths 😉</p>
            <div class="card-holder centered">
                <div class="my-card">
                    <h2>Front-End</h2>
                    <div class="card-content">
                        <p>
                            Focuses on showing your creativity, imagination, designing and stuff. Create the face of the
                            project along with your team.
                            Want to support the team by adding interactivity to this project ?
                        </p>
                        <p>Then you are made for this path.</p>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'test_app:frontend' %}" class="btn btn-primary">Bring It On 👍</a>
                    </div>
                </div>
                <div class="my-card">
                    <h2>Back-End</h2>
                    <div class="card-content">
                        <p>
                            Want to show off your backend skills ? Take on this project head on with your future team ?
                            Then the crown is yours, once you prove that you are capable of converting the project idea to reality.
                        </p>
                        <p> You seem worthy, care to test your backend skills?</p>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'test_app:backend' %}" class="btn btn-primary">Challenge Accepted 👍</a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>

{% include 'test_app/footer.html' %}

</body>
</html>
