{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index-style.css'%}">
    <title>Document</title>
</head>
<body style="
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
">

<section>
   
  
    <div class="overlay">
        <div class="text-container">
            <h1>
                VIT-AP
                </h1>
                
                <a href="/signup" class="button">Register / Sign Up</a>
            
            
        </div>
    </div>
    
    <div id="grad">
        <p style="margin-left: 20px;color: aliceblue; opacity: 0.5;margin-top: 112px;">
           
            <br>
            <br>
            <br>
            <b>Get Started</b> <br>
            <br>
            <b id="first">L</b>orem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quam repellat ab repellendus rem recusandae
             iusto saepe voluptatem ipsam, velit, excepturi repudiandae quibusdam libero dolore omnis et. Repellendus laborum quae pariatur
              nisi consequatur optio eos quisquam, atque accusamus cumque necessitatibus quia quidem voluptatem fuga iure rem? Dolorum,
               accusantium reprehenderit iusto minima suscipit modi sint, id laborum eveniet quia beatae nostrum, nisi magni alias 
               quo atque quaerat? Officiis doloribus sapiente amet quod laboriosam minus quo praesentium nihil assumenda, quae quos
                sint hic quis laudantium soluta. Totam aliquam sapiente aut ratione nam quae ad consequuntur 
            
        </p>
        <div class="footer">
            hello! Made by Aayush anand 20bce7393
        </div>
    </div>
    
    
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    
    </section>
 
    <script src="" async defer></script>
</body>


</html>